<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rootkit Detection Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">

    <h2>ROOTKIT DETECTION TOOL</h2>
    <p>Cybersecurity Rootkit Scanner</p>

    <form method="POST">
        <input type="text" name="filename" placeholder="Enter File Name:">
        <br><br>
        <button type="submit">Scan File</button>
    </form>

    <div class="typing">
        <span id="typing-text"></span>
    </div>

    <div class="result">
        {{ result }}
    </div>

    <div class="footer">
        Developed for Cybersecurity Project
    </div>

    <script>
        let text = "Scanning system files for rootkits...";
        let i = 0;

        function typingEffect() {
            if(i < text.length) {

                document.getElementById("typing-text").innerHTML += text.charAt(i);
                i++;
                setTimeout(typingEffect, 50);
            }
        }
        typingEffect();
        </script>
</body>
</html>